*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: 'Rubik';
}

body {
    width: 100%;
    height: 100%;
    background: #F5F9FF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4.0rem;
    color: #11175E;
}

main {
    width: 100%;
    max-width: 60rem;
    padding: 3.5rem 3rem;
    background-color: #fff;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#create-board-task-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.input-create-task {
    width: 100%;
    font-size: 1.6rem;
    border-radius: .4rem;
    outline: 0;
    border: 1px solid #EEEEEE;
    padding-block: 1.3rem;
    padding-inline: 1rem;

    &:focus {
        border: 1px solid #5eb7f6;
    }
}

.add-task-btn {
    box-sizing: border-box;
    color: #fff;
    background-color: #2D70FD;
    border: none;
    border-radius: .4rem;
    font-size: 1.6rem;
    padding-block: 1.3rem;
    padding-inline: 1.8rem;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

#list-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.card-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    border-radius: 0.8rem;
    width: 100%;
    padding: 16px;
    gap: 7.5rem;
}

.task-descricao{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.descricao-abaixo{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.title-task {
    color: #001747;
    font-size: 1.6rem;
}

.etiqueta-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #B1BACB;
    border-radius: .8rem;
    font-size: 1.2rem;
    color: #B1BACB;
    padding: 8px;
}

.date-task {
    font-size: 1.4rem;
    color: #B1BACB;
}

.btn-concluir {
    background: #2D70FD;
    color: #FFFFFF;
    border: none;
    border-radius: 0.8rem;
    font-size: 2.0rem;
    padding-block: 1.2rem;
    padding-inline: 2rem;
}

.title-concluido {
    text-decoration: line-through;
    color: gray;
}

.emote-concluido {
    font-size: 1.5em;
    margin-left: 10px;
}

hr{
    color: #EEEEEE;
}

#tasks-counter-section{
    display: flex;
    justify-content: end;
    color: #B1BACB;
    font-size: 1.62rem;
}